@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../node_modules/nprogress/nprogress.css";
@import "Header.css";
@import "PageSelector.css";
@import "CommentThread.css";
body {
  background-color: #f2f3f5;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  @apply text-xl font-semibold;
}

h3 {
  @apply text-base font-semibold;
}

#nprogress .bar {
  background-color: rgb(255, 102, 0);
  height: 5px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px rgb(240, 118, 36), 0 0 5px rgb(253, 135, 56);
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner-icon {
  border-top-color: rgb(255, 102, 0);
  border-left-color: rgb(255, 102, 0);
}

.hn-orange {
  color: rgb(255, 102, 0);
}

.points-box {
  @apply p-4;
  min-width: 70px !important;
  text-align: center;
}

.comments-count:before {
  content: "";
  display: block;
  background: url("/comment2.svg") center center no-repeat;
  margin: 0 auto;
  width: 1.3rem;
  height: 1.3rem;
  background-size: 1.3rem 1.3rem;
  opacity: .3;
}

.user {
  @apply font-semibold text-blue-700;
}

.user:hover {
  @apply text-blue-400;
}